html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 300%;
  font: inherit;
  vertical-align: baseline; }

body {
  
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: sans-serif;
  color: #2a2a2a; }

a {
  text-align: left;
  color: #024a5a; }
  a:hover {
    color: #c3e4f1; }

#banner {
  padding: 50px; 
  border: 8px solid red;
  height: 250px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  background-color: #009ce0;
}
#NAME {
  text-align: center;
  font-size: 100px;
  line-height: .3;
}
#STEXT{
  text-align: center;
  font-size: 35px;
  line-height: 5;
}
#MAIN_CONT{
  
  margin-top: 50px;
  margin-left: 100px;  
  margin-right: 100px;
  height: 1000px;
}
#ABOUT{
  position: absolute;
  background-color: #009ce0;
  width: 800px;
  height: 1000px;
  border: 8px solid red;
  text-align: center;
}
#ABOUT_HEADER{
  line-height: 1.7;
  font-size: 50px;
  margin-left: 30px;
}

#LINKS{
  background-color: #009ce0;
  position: absolute;
  width: 800px;
  height: 1000px;
  right: 100px;
  border: 8px solid red;
  line-height: 1;
} 
#LINKS_HEADER{
  text-align: left;
  line-height: 1.7;
  font-size: 50px;
  margin-left: 30px;
}




