html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 300%;
  font: inherit;
  vertical-align: baseline; }

html{
  height: 100%;
}



ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: sans-serif;
  color: #2a2a2a; 
  background-image: linear-gradient(#ffffff , green );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-align: left;
  color: #024a5a; }
  a:hover {
    color: #c3e4f1; }

#MAIN{
  height: 100%;
}

#IMG{
  float: right;
  margin-top: 30px;
  border: 8px solid #024a5a;
}
#JUMBOTRON{
  background-image: url(Images/IMG_2.JPG);
  height: 500px;
}
#CON_1{
  margin-top: 100px;
  line-height: 2;
}
#NAME{
  font-size: 110px;
  color: #a8eaa8 ; 
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000; 
}
#SUBTEXT{
  font-size: 30px;
  margin-left: 40px;
  font-weight: bold;
}
#SUBTEXT_2{
  margin-left: 40px;
  font-size: 30px;
  font-weight: bold;
}

h2{
  font-size: 30px;
}
#CONTAINER{
  height: 100%;
  
}
#HOME_BUTTON{
  font-size: 100%;
}

#LINK_CONTAINER{
  margin-top: 80px;
}

